.root {
	background-color: rgba(0, 0, 0, 0.054);
	min-height: 101vh;
}

.wrapper {
	margin-top: 53px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clubList {
	width: 40vw;
}

.content {
	margin-top: 50px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.clubCard {
	margin-bottom: 20px;
	background-color: white;
}

.options {
	display: flex;
	flex-direction: column;
}

.options > * {
	margin-bottom: 50px;
}

.clubCardContent {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.clubCardContent img {
	margin: 30px;
}

.clubCardInfo {
	display: flex;
	flex-direction: column;
}

.clubCardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.clubCardHeader h1 {
	margin: 0;
}
